<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/image/1.png">
    <title>DingYi</title>
    <link rel="stylesheet" href="/static/css/CV.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="contact">
                <span> 南京</span>
                <span>13151533215</span>
                <span>dymainkeys@gmail.com</span>
                <span>wechat:eigenValue1q20
                </span>
            </div>
            <div class="name">&nbsp; 丁羿
                <span class="name-info" style="display: block;"> 男 | 2001-04 </span>
            </div>
            <div class="contact">
                <span>github.com/mainkeys</span>
                <span>&nbsp;技术博客：</span>
                <span>mainkeys.github.io</span>
                <span>blog.csdn.net/MAINKEYS</span>

            </div>
        </div>
        <div class="body">
            <div class="body-info">
                <div class="education">
                    <span class="title">教育获奖经历</span>
                    <hr>
                    <span class="body-info bold">本科 南京信息工程大学 计算机科学与技术 <span class="time">2019.9-2023.6</span></span>
                    <span class="body-info">
                        <div class="dot"></div> 蓝桥杯C++个人省赛一等奖、蓝桥杯C++个人省赛二等奖、蓝桥杯C++个人国赛优秀奖
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> 校程序设计竞赛二等奖、校程序设计竞赛三等奖
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> 多次获得校奖学金、三好学生
                    </span>
                </div>

                <div class="introduction">
                    <span class="title">个人描述</span>
                    <hr>
                    <span class="body-info">
                        <div class="dot"></div> 方向：Web前端 or DevOps   英语：CET6
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> 主修课程：数据结构、计算机组成原理、操作系统、计算机网络、Web、MIT 18.06 Linear Algebra、高等数学
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> 学习和钻研能力强，对新事物接受和适应能力快，喜欢研究前沿技术和科技
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> 性格开朗，容易与人相处，注重团队协作精神，有较强沟通能力，且能承受较大压力
                    </span>

                </div>
                <div class="skill">
                    <span class="title">专业技能</span>
                    <hr>

                    <span class="body-info">
                        <div class="dot"></div> <span class="bold">前端：</span>
                        熟悉HTML5、CSS3、JavaScript、jQuery、Ajax等前端技术，了解vueJS、React等主流框架以及ES6特性,Webpack，bootstrap框架
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span class="bold">DevOps：</span>
                        掌握Linux操作、Shell语法，熟练使用vim、tmux、git，了解docker、Kubernetes，了解Jenkins、Gitlab CI/CD、Nginx
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span class="bold">Python：</span>
                        熟悉python语法，掌握django框架，了解Tensorflow框架
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span class="bold">数据库：</span>
                        熟悉MySQL，SQL server，了解SQL语句
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span class="bold">Java：</span>
                        了解Java，了解SpringMVC、MyBatis框架
                    </span>
                </div>
                <div class="project">
                    <span class="title">项目经历</span>
                    <hr>
                    <span class="body-info bold">Cosy_Shooting <span class="time">2023.1-2023.3</span></span>
                    <span class="body-info">
                        <div class="dot"></div> <span>项目简介：</span>
                        一个Django前后端分离多人在线联机匹配平面射击吃鸡游戏
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span>主要工作：</span>
                        从0到1先配置环境和下载所需依赖生成docker镜像，使用镜像创建容器采用tmux＋Vim编辑器和Git版本控制系统进行开发，搭建Django框架，
                        使用ES6标准class进行模块化编程，
                        使用nginx+uwsgi+Django进行部署实现负载均衡，使用Django中集成的Redis创建账号，
                        Django_channels实现联机对战，thrift实现匹配系统、
                        Django Rest Framework 和 JWT 实现身份验证
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span>项目难点：<br> </span>
                        1、thrift实现匹配、匹配系统由一个消息队列 + 生产者-消费者模型 +
                        匹配池完成，实现了根据数据库rank分智能匹配。<br> 2、统一长度单位：由于联机对战的时候，每个用户的客户端长宽不一样，根据当前客户端的大小，进行渲染。
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span>项目地址：</span>
                        github.com/mainkeys/Cosy_shooting
                    </span>


                    <span class="body-info bold"> 拳皇KOF<span class="time">2022.11-2022.12</span></span>
                    <span class="body-info">
                        <div class="dot"></div> <span>项目简介：</span>
                        原生JS纯前端游戏-拳皇
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span>主要工作：</span>
                        从0到1实现，采用HTML、CSS、JavaScript和ES6标准编写，利用类的继承按模块分层实现，考虑每个状态对应不同操作，模拟游戏引擎实现状态机，使用Set存储按键输入信息执行相应操作，使用canvas画布对gif逐帧渲染。
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span>项目难点：<br> </span>
                        1、游戏参数调整。<br>
                        2、如何将gif放到canvas里渲染
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span>项目地址：</span>
                        https://github.com/mainkeys/KOF
                    </span>

                    <span class="body-info bold"> my_CV<span class="time">2023.3-2023.3</span></span>
                    <span class="body-info">
                        <div class="dot"></div> <span>项目简介：</span>
                        此简历的前端代码，采用django部署到服务器
                    </span>
                    <span class="body-info">
                        <div class="dot"></div> <span>项目地址：</span>
                        github.com/mainkeys/my_CV
                    </span>

                    <span class="body-info">
                        <div class="dot"></div> <span>网页版：</span>
                        http://101.43.107.246:10000/
                    </span>
                </div>
            </div>
        </div>






    </div>
</body>

</html>